.bg-img
  img(src='/assets/img/BD_back2.jpg')

.main-wrapper
  .main-container
    .cover-container
      .album-info
        h1 Eugene Delta - Black Dogs EP
        p.
          “BLACK DOGS” is an inner dialogue about goodbyes and reunions, icy nights in between and sleepless winters thereafter. And friendship and space travel.
        p.
          “BLACK DOGS” contains 4 tracks ranging from dreamy folk-pop down into dark electro chasms flooded with distorted choirs and up into airy skies filled with sparkling beats and jubilant strings.
          Enjoy!
        img(src='/assets/img/CTA2.png').cta
      .cover

        iframe(scrolling='no', frameborder='0', allowtransparency='true', src='https://www.deezer.com/plugins/player?format=square&autoplay=false&playlist=false&width=306&height=306&color=007FEB&layout=dark&size=medium&type=album&id=50349162&app_id=1', width=306, height=306)#dz-root.preview-box.mobile
        iframe(scrolling='no', frameborder='0', allowtransparency='true', src='https://www.deezer.com/plugins/player?format=square&autoplay=false&playlist=false&width=526&height=526&color=007FEB&layout=dark&size=medium&type=album&id=50349162&app_id=1', width=526, height=526).preview-box.desktop
        .play-button(onclick="javascript:document.getElementById('dz-root').className += ' fadeIn';this.className += ' hidden';")
          img(src='/assets/img/playPreview.png')
    .content-container

      .title-container
        h1 Eugene Delta - Black Dogs EP
        h2 Choose below
      .link-wrapper
        .link-container
          .link-list
            .link
              a(href='https://itunes.apple.com/at/album/black-dogs-ep/id1299224545?app=itunes').itunes
                img(src='https://b8dc26f18050b3315e3d-25699625cd604ffbdd1a1ecb34531b42.ssl.cf3.rackcdn.com/images/music-service_itunes.svg')
                span.button Download
            .link
              a(href='https://itunes.apple.com/at/album/black-dogs-ep/id1299224545?app=music').applemusic
                img(src='https://b8dc26f18050b3315e3d-25699625cd604ffbdd1a1ecb34531b42.ssl.cf3.rackcdn.com/images/music-service_applemusic.svg')
                span.button Play
            .link
              a(href='https://open.spotify.com/album/4RwOwJ1MPKgvZK7gnGVDZ8').spotify
                img(src='https://b8dc26f18050b3315e3d-25699625cd604ffbdd1a1ecb34531b42.ssl.cf3.rackcdn.com/images/music-service_spotify.svg')
                span.button Play
            .link
              a(href='https://play.google.com/store/music/album/Eugene_Delta_Black_Dogs_EP?id=Bniq65p2gvfhwkpjserrr5gxwde').googleplay
                img(src='https://b8dc26f18050b3315e3d-25699625cd604ffbdd1a1ecb34531b42.ssl.cf3.rackcdn.com/images/music-service_google-play.svg')
                span.button Download
            .link
              a(href='https://www.amazon.com/dp/B076MJY9WG/ref=cm_sw_r_cp_ep_dp_2IB8zbDQG1D7W').amazon
                img(src='https://b8dc26f18050b3315e3d-25699625cd604ffbdd1a1ecb34531b42.ssl.cf3.rackcdn.com/images/music-service_amazonmp3.svg')
                span.button Download
            .link
              a(href='http://www.deezer.com/album/50349162').deezer
                img(src='https://b8dc26f18050b3315e3d-25699625cd604ffbdd1a1ecb34531b42.ssl.cf3.rackcdn.com/images/music-service_deezer.svg')
                span.button Play
      .album-info-mobile
        h2 Info
        //p.
        //  Die EP “BLACK DOGS” ist ein innerer Dialog über Abschiede und Wiedersehen, eisige Nächte dazwischen und schlaflose Winter danach. Auch Freundschaft und Sonne.
        p.
          “BLACK DOGS” is an inner dialogue about goodbyes and reunions, icy nights in between and sleepless winters thereafter. And friendships and space travel.
        p.
          “BLACK DOGS” contains 4 tracks ranging from dreamy folk-pop down into dark electro chasms flooded with distorted choirs and up into airy skies filled with sparkling beats and jubilant strings.
          Enjoy!
